
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Front</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html>

{% load static %}
<script src="{% static 'frontend/js/runtime-es2015.js' %}"></script>
<script src="{% static 'frontend/js/polyfills-es2015.js' %}"></script>
{% comment %} <script src="{% static 'frontend/js/styles-es2015.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'frontend/js/vendor-es2015.js' %}"></script> {% endcomment %}
<script src="{% static 'frontend/js/main-es2015.js' %}"></script> 
 